{% extends 'base.html' %}

{% load static %}

{% block title %}Add a new invoice{% endblock %}
{% block meta %}Datos{% endblock %}

{% block content %}

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="container-xxl flex-grow-1 container-p-y">
                <div class="header-container d-flex justify-content-between align-items-center">
                  <h4 class="fw-bold py-3 mb-4">
                    <a href="/" class="text-decoration-none">
                      <span class="text-muted fw-light">Home /</span>
                    </a>
                    Invoices
                  </h4>
                  <div class="button-container d-flex align-items-center">
                    <!-- Replaced the link with a button to trigger the new modal -->
                    <button 
                      class="btn btn-primary mr-2" 
                      data-bs-toggle="modal" 
                      data-bs-target="#basicModal">
                      <strong>Add Invoice</strong>
                    </button>
                  </div>
                </div>
              
                <!-- New Modal -->
                <div class="modal fade" id="basicModal" tabindex="-1" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel1">Add New Invoice</h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <!-- Django Form -->
                        <form method="POST" action="{% url 'invoices' %}" id="invoiceForm">
                          {% csrf_token %}
                          <div class="row g-3"> <!-- Increased the gutter space -->
                            <div class="col mb-3">
                              <div class="col-sm-10">
                                  <label for="{{ form.quotation.id_for_label }}" class="form-label">Quotation</label>
                                  <select name="{{ form.quotation.name }}" id="{{ form.quotation.id_for_label }}" class="form-select" required>
                                      <option disabled selected>Select Quotation</option>
                                      {% for item in quotation_data %}
                                          <option value="{{ item.quotation.id }}">
                                              <strong>{{ item.quotation.quotation_number }}</strong>, {{ item.quotation.customer.company }} - Total: K{{ item.total|floatformat:2 }}
                                          </option>
                                      {% endfor %}
                                  </select>
                              </div>
                          </div>
                          
                        
                            <div class="col mb-3"> <!-- Added mb-3 for more space -->
                                <label for="{{ form.due_date.id_for_label }}" class="form-label">Due Date</label>
                                <div class="col-sm-10">
                                    <input type="datetime-local" class="form-control" name="{{ form.due_date.name }}" id="{{ form.due_date.id_for_label }}" placeholder="{{ form.due_date.label }}"/>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row mb-3"> <!-- Added mb-3 for spacing -->
                            <div class="col mb-3"> <!-- Added mb-3 for more space -->
                                <label for="{{ form.amount_paid.id_for_label }}" class="form-label">Amount Paid (K)</label>
                                <input type="number" step="0.01" class="form-control" name="{{ form.amount_paid.name }}" id="{{ form.amount_paid.id_for_label }}" placeholder="{{ form.amount_paid.label }}"/>
                            </div>
                        </div>
                        
                          <div class="row">
                              <div class="col mb-3">
                                  <button type="submit" class="btn btn-primary">Add Invoice</button>
                              </div>
                          </div>
                      </form>
                      
                      </div>
                      
                    </div>
                    </div>
                  </div>
                </div>
              
              

              

              <!-- Basic Bootstrap Table -->
              <div class="card">
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead>
                        <tr>
                            <th>Invoice Number</th>
                            <th>Customer</th>
                            <th>Total (K)</th>
                            <th>Paid (K)</th>
                            <th>Balance (K)</th>
                            <th>Due Date</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        {% for entry in invoice_data %}
                        <tr>
                            <td><strong>{{ entry.invoice.invoice_number }}</strong></td>
                            <td>{{ entry.invoice.quotation.customer.company }}</td>
                            <td>{{ entry.total|floatformat:2 }}</td>
                            <td>{{ entry.paid|floatformat:2 }}</td> <!-- Updated to show the correct paid amount -->
                            <td>{{ entry.balance|floatformat:2 }}</td> <!-- Updated to show the calculated balance -->
                            <td>{{ entry.invoice.due_date|date:"SHORT_DATE_FORMAT" }}</td>
                            <td>
                                {% if entry.status == 'OVERDUE' %}
                                    <span class="badge bg-label-danger me-1">OVERDUE</span>
                                {% elif entry.status == 'PARTIAL' %}
                                    <span class="badge bg-label-info me-1">PARTIAL</span>
                                {% elif entry.status == 'NOT PAID' %}
                                    <span class="badge bg-label-warning me-1">NOT PAID</span>
                                {% else %}
                                    <span class="badge bg-label-success me-1">PAID</span>
                                {% endif %}
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{% url 'view_invoice_pdf' entry.invoice.id %}"><i class="bx bx-cctv me-1"></i> Preview</a>
                                        <a class="dropdown-item" href="#"><i class="bx bx-download me-1"></i> Download</a>
                                        <a class="dropdown-item" href="{% url 'send_invoice_email' entry.invoice.id %}"><i class="bx bx-mail-send me-1"></i> Send</a>
                                        <a class="dropdown-item" href="#"><i class="bx bx-trash me-1"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                
                
                </div>
              </div>
              <!--/ Basic Bootstrap Table -->
             
              <!--/ Responsive Table -->
            </div>
            <!-- / Content -->

            {% endblock %}