{% extends 'base.html' %}

{% load static %}

{% block content %}

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="container-xxl flex-grow-1 container-p-y">
                <div class="header-container d-flex justify-content-between align-items-center">
                  <h4 class="fw-bold py-3 mb-4">
                    <a href="/" class="text-decoration-none">
                      <span class="text-muted fw-light">Home /</span>
                    </a>
                    Reciepts
                  </h4>
                  <div class="button-container d-flex align-items-center">
                    <!-- Replaced the link with a button to trigger the modal -->
                    
                  </div>
                </div>
              
               
              

              

              <!-- Basic Bootstrap Table -->
              <div class="card">
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead>
                        <tr>
                            <th>Receipt Number</th>
                            <th>Invoice Number</th>
                            <th>Paid (K)</th>
                            <th>Due Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        {% for entry in receipt_data %}
                        <tr>
                            <td><strong>{{ entry.receipt.receipt_number }}</strong></td>
                            <td>{{ entry.invoice.invoice_number }}</td>
                            <td>{{ entry.amount_received|floatformat:2 }}</td>
                            <td>{{ entry.due_date|date:"SHORT_DATE_FORMAT" }}</td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#"><i class="bx bx-cctv me-1"></i> Preview</a>
                                        <a class="dropdown-item" href="#"><i class="bx bx-download me-1"></i> Download</a>
                                        <a class="dropdown-item" href="#"><i class="bx bx-trash me-1"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                </div>
              </div>
              <!--/ Basic Bootstrap Table -->
             
              <!--/ Responsive Table -->
            </div>
            <!-- / Content -->

            {% endblock %}