{% extends 'base.html' %}

{% load static %}

{% block title %}Add Supplier{% endblock %}
{% block meta %}Datos{% endblock %}

{% block content %}

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="container-xxl flex-grow-1 container-p-y">
                <div class="header-container d-flex justify-content-between align-items-center">
                  <h4 class="fw-bold py-3 mb-4">
                    <a href="/" class="text-decoration-none">
                      <span class="text-muted fw-light">Home /</span>
                    </a>
                    Suppliers
                  </h4>
                  <div class="button-container d-flex align-items-center">
                    <!-- Replaced the link with a button to trigger the new modal -->
                    <button 
                      class="btn btn-primary mr-2" 
                      data-bs-toggle="modal" 
                      data-bs-target="#basicModal">
                      <strong>Add Supplier</strong>
                    </button>
                  </div>
                </div>
              
                <!-- New Modal -->
                <div class="modal fade" id="basicModal" tabindex="-1" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel1">Add New Supplier</h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <!-- Django Form -->
                        <form method="POST" action="{% url 'suppliers' %}" id="suppliersForm">
                          {% csrf_token %}
                          
                          <div class="row g-2"> <!-- Reduced gutter space -->
                              <div class="col mb-0">
                                  <label for="{{ form.company_name.id_for_label }}" class="form-label">Company Name</label>
                                  <input type="text" class="form-control" name="{{ form.company_name.name }}" id="{{ form.company_name.id_for_label }}" placeholder="{{ form.company_name.label }}" required/>
                              </div>
                              
                              <div class="col mb-0">
                                  <label for="{{ form.contact_name.id_for_label }}" class="form-label">Contact Name</label>
                                  <input type="text" class="form-control" name="{{ form.contact_name.name }}" id="{{ form.contact_name.id_for_label }}" placeholder="{{ form.contact_name.label }}" />
                              </div>
                          </div>
                          
                          <div class="row g-2">
                              <div class="col mb-0">
                                  <label for="{{ form.phone.id_for_label }}" class="form-label">Phone</label>
                                  <input type="text" class="form-control" name="{{ form.phone.name }}" id="{{ form.phone.id_for_label }}" placeholder="{{ form.phone.label }}" required/>
                              </div>
                      
                              <div class="col mb-0">
                                  <label for="{{ form.email.id_for_label }}" class="form-label">Email</label>
                                  <input type="email" class="form-control" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" placeholder="{{ form.email.label }}" />
                              </div>
                          </div>
                          
                          <div class="row g-3">
                              <div class="col mb-3">
                                  <label for="{{ form.address.id_for_label }}" class="form-label">Address</label>
                                  <textarea class="form-control" name="{{ form.address.name }}" id="{{ form.address.id_for_label }}" placeholder="{{ form.address.label }}" rows="3"></textarea>
                              </div>
                          </div>
                          
                          <div class="row">
                              <div class="col mb-3">
                                  <button type="submit" class="btn btn-primary">Add Supplier</button>
                              </div>
                          </div>
                      </form>
                      
                      
                      
                      </div>
                      
                    </div>
                    </div>
                  </div>
                </div>
              
              

              

              <!-- Basic Bootstrap Table -->
              <div class="card">
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead>
                        <tr>
                            <th>Company Name</th>
                            <th>Contact Name</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        {% for supplier in supplier_data %}
                        <tr>
                            <td><strong>{{ supplier.company_name }}</strong></td>
                            <td>{{ supplier.contact_name }}</td>
                            <td>{{ supplier.phone }}</td>
                            <td>{{ supplier.email }}</td>
                            <td>{{ supplier.address }}</td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#"><i class="bx bx-cctv me-1"></i> View</a>
                                        <a class="dropdown-item" href="#"><i class="bx bx-pencil me-1"></i> Edit</a>
                                        <a class="dropdown-item" href="#"><i class="bx bx-trash me-1"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                
                
                </div>
              </div>
              <!--/ Basic Bootstrap Table -->
             
              <!--/ Responsive Table -->
            </div>
            <!-- / Content -->

            {% endblock %}