{% extends 'base.html' %}

{% load static %}

{% block title %}Task Manager{% endblock %}
{% block meta %}Datos{% endblock %}


{% block search_action %}
  {{ search_action_url }}
{% endblock %}

{% block content %}

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="container-xxl flex-grow-1 container-p-y">
                <div class="header-container d-flex justify-content-between align-items-center">
                  <h4 class="fw-bold py-3 mb-4">
                    <a href="/" class="text-decoration-none">
                      <span class="text-muted fw-light">Home /</span>
                    </a>
                    Task Manager
                  </h4>
                  <div class="button-container d-flex align-items-center">
                    <!-- Replaced the link with a button to trigger the new modal -->
                    <button 
                      class="btn btn-primary mr-2" 
                      data-bs-toggle="modal" 
                      data-bs-target="#basicModal">
                      <strong>Add Task</strong>
                    </button>
                  </div>
                </div>
              
                <!-- New Modal -->
                <div class="modal fade" id="basicModal" tabindex="-1" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel1">Add New Customer</h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <!-- Django Form -->
                        <form method="POST" action="{% url 'customers' %}" id="customerForm">
                          {% csrf_token %}
                          <div class="row g-2">
                            <div class="col mb-0">
                              <label for="{{ form.first_name.id_for_label }}" class="form-label">First Name</label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" name="{{ form.first_name.name }}" id="{{ form.first_name.id_for_label }}"  placeholder="{{ form.first_name.label }}"/>
                              </div>
                            </div>
                            <div class="col mb-0">
                              <label for="{{ form.last_name.id_for_label }}" class="form-label">Last Name</label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" name="{{ form.last_name.name }}" id="{{ form.last_name.id_for_label }}"  placeholder="{{ form.last_name.label }}"/>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col mb-3">
                              <label for="{{ form.company.id_for_label }}" class="form-label">Company (Optional)</label>
                              <input type="text" class="form-control" name="{{ form.company.name }}" id="{{ form.company.id_for_label }}"  placeholder="{{ form.company.label }}"/>
                            </div>
                          </div>
                          <div class="row g-2">
                            <div class="col mb-0">
                              <label for="{{ form.email.id_for_label }}" class="form-label">Email</label>
                                <div class="col-sm-10">
                                  <input type="email" class="form-control" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}"  placeholder="{{ form.email.label }}"/>
                              </div>
                            </div>
                            <div class="col mb-0">
                              <label for="{{ form.phone.id_for_label }}" class="form-label">Phone</label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" name="{{ form.phone.name }}" id="{{ form.phone.id_for_label }}"  placeholder="{{ form.phone.label }}"/>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col mb-3">
                              <label for="{{ form.address.id_for_label }}" class="form-label">Address</label>
                              <input type="textarea" class="form-control" name="{{ form.address.name }}" id="{{ form.address.id_for_label }}"  placeholder="{{ form.address.label }}"/>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col mb-3">
                                <button type="submit" class="btn btn-primary">Add Customer</button>
                            </div>
                        </form>
                      </div>
                      
                    </div>
                    </div>
                  </div>
                </div>
              
              
                <div class="row">
                  <!-- Revenue Card: Takes full width on smaller screens -->
                  <div class="col-12 col-md-3 mb-4">
                    <div class="card equal-height">
                      <div class="card-body">
                        <div class="d-flex justify-content-between flex-sm-row flex-column gap-3">
                          <div class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
                            <div class="card-title">
                              <h5 class="text-nowrap mb-2">Productivity</h5>
                              <span class="badge bg-label-info rounded-pill">THIS WEEK</span>
                            </div>
                            <div class="mt-sm-auto">
                              <h3 class="mb-0">{{ productivity|floatformat:0 }} %</h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-3 mb-4">
                    <div class="card equal-height">
                      <div class="card-body">
                        <div class="d-flex justify-content-between flex-sm-row flex-column gap-3">
                          <div class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
                            <div class="card-title">
                              <h5 class="text-nowrap mb-2">Tasks Due</h5>
                              <span class="badge bg-label-warning rounded-pill">TODAY</span>
                            </div>
                            <div class="mt-sm-auto">
                              <h3 class="mb-0">{{ tasks_due_today }}</h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
  
                
                 
                
                  <div class="col-12 col-md-3 mb-4">
                    <div class="card equal-height">
                      <div class="card-body">
                        <div class="d-flex justify-content-between flex-sm-row flex-column gap-3">
                          <div class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
                            <div class="card-title">
                              <h5 class="text-nowrap mb-2">Completed</h5>
                              <span class="badge bg-label-success rounded-pill">THIS WEEK</span>
                            </div>
                            <div class="mt-sm-auto">
                              <h3 class="mb-0">{{ completed_tasks }}</h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                
                  <div class="col-12 col-md-3 mb-4">
                    <div class="card equal-height">
                      <div class="card-body">
                        <div class="d-flex justify-content-between flex-sm-row flex-column gap-3">
                          <div class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
                            <div class="card-title">
                              <h5 class="text-nowrap mb-2">Overdue Tasks</h5>
                              <span class="badge bg-label-danger rounded-pill">PENDING</span>
                            </div>
                            <div class="mt-sm-auto">
                             
                              <h3 class="mb-0">{{ overdue_tasks }}</h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
              

              <!-- Basic Bootstrap Table -->
              <div class="card">

                <div class="table-responsive text-nowrap">
                  <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Owner</th>
                            <th>Progress</th>
                            <th>Status</th>
                            <th>Due Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                      {% for task_data in paginated_tasks %}
                      <tr>
                          <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ task_data.task.task_name }}</strong></td>
                          <td>{{ task_data.task.created_by.first_name }} {{ task_data.task.created_by.last_name }}</td>
                          <td>{{ task_data.task.progress }} %</td>
                          <td>
                              {% if task_data.status == 'NOT STARTED' %}
                                  <span class="badge bg-label-danger me-1">NOT STARTED</span>
                              {% elif task_data.status == 'IN PROGRESS' %}
                                  <span class="badge bg-label-warning me-1">IN PROGRESS</span>
                              {% else %}
                                  <span class="badge bg-label-success me-1">COMPLETED</span>
                              {% endif %}
                          </td>
                          <td>{{ task_data.task.due_date }}</td>
                          <td>
                              <div class="dropdown">
                                  <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                      <i class="bx bx-dots-vertical-rounded"></i>
                                  </button>
                                  <div class="dropdown-menu">
                                      <a class="dropdown-item" href="javascript:void(0);">
                                          <i class="bx bx-edit-alt me-1"></i> Edit
                                      </a>
                                      <a class="dropdown-item" href="javascript:void(0);">
                                          <i class="bx bx-trash me-1"></i> Delete
                                      </a>
                                  </div>
                              </div>
                          </td>
                      </tr>
                      {% endfor %}
                  </tbody>
                  
                </table>

               <!-- Pagination Controls -->
          <div class="pagination-container mt-4">
            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center custom-pagination">
                {% if paginated_tasks.has_previous %}
                <li class="page-item">
                  <a class="page-link rounded-circle" href="?page={{ paginated_tasks.previous_page_number }}&search={{ search_query }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <span class="page-link rounded-circle" aria-hidden="true">&laquo;</span>
                </li>
                {% endif %}

                {% for num in paginated_tasks.paginator.page_range %}
                <li class="page-item {% if paginated_tasks.number == num %} active {% endif %}">
                  <a class="page-link rounded-circle" href="?page={{ num }}&search={{ search_query }}">{{ num }}</a>
                </li>
                {% endfor %}

                {% if paginated_tasks.has_next %}
                <li class="page-item">
                  <a class="page-link rounded-circle" href="?page={{ paginated_tasks.next_page_number }}&search={{ search_query }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <span class="page-link rounded-circle" aria-hidden="true">&raquo;</span>
                </li>
                {% endif %}
              </ul>
            </nav>
          </div>
              
                
                </div>
              </div>
              <!--/ Basic Bootstrap Table -->
             
              <!--/ Responsive Table -->
            </div>
            <!-- / Content -->

            {% endblock %}